<html>
  <head>
      <title>Adrienne's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Adrienne's Blog</a></h1>
    </div>

    <div>
      <p>published: 11.05.2016, 15:33</p>
      <h2><a href="">My first post</a></h2>
      <p>blahblahblah</p>
    </div>

    <div>
      <p>published: 11.05.2016, 15:33</p>
      <h2><a href="">My second post</a></h2>
      <p>Blahblahbladh</p>
    </div>
  </body>
</html>
    

<head>
  <link rel+"stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
